*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;
}
.container {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 25px;
    border: 5px solid red;
    top: 100px;
    background-color: black;
}
.tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 5px solid black;
}
h3{
    background-color: red;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
}
.tab-content{
    background-color: black;
    padding: 40px 40px;
}
.tab-content h4 {
    font-size: 40px;
    margin-bottom: 25px;
    color: red;
    font-weight: 700;
}
.tab-content p{
    text-align: center;
    line-height: 1;
    letter-spacing: 1px;
    color: red;
}
.tab-content div{
    display: none;
}
.tab-content .active{
    display: block;
}
.tabs .active{
    background-color: black;
    color: red;
    border: 5px solid blue;
}
.good-image{
    height: auto;
    max-width: 250px;
    display: block;
    margin: 0 auto 25px auto;
    border: 5px solid red;
}
.red-image{
    height: auto;
    max-width: 250px;
    display: block;
    margin: 0 auto 25px auto;
    border: 5px solid red;
}
.billie-jean-image{
    height: auto;
    max-width: 250px;
    display: block;
    margin: 0 auto 25px auto;
    border: 5px solid red;    
}

